<nav class="navbar" [class.scrolled]="scrolled">
  <div class="navbar__brand" (click)="scrollTo('#hero')">
    <span class="navbar__paw">🐾</span>
    <span class="navbar__title">De Paseo a Boyacá</span>
    <span class="navbar__subtitle">Tu y yo juntos</span>
  </div>

  <button class="navbar__hamburger" (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span><span></span><span></span>
  </button>

  <ul class="navbar__links" [class.open]="menuOpen">
    <li *ngFor="let link of navLinks">
      <a (click)="scrollTo(link.anchor)">{{ link.label }}</a>
    </li>
    <li>
      <a class="navbar__cta" (click)="scrollTo('#rsvp')">¡Acepto! 🦋</a>
    </li>
  </ul>
</nav>
